/*  COLORS */
.modal-overflow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .modal-overflow .modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: opacity 0.3s ease; }
  .modal-overflow .modal-scroll {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto; }
  .modal-overflow .modal-body {
    background: white;
    overflow: hidden;
    width: 290px;
    margin: 0 auto;
    padding: 20px;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.2s ease, transform 0.3s ease;
    color: black; }
  .modal-overflow.show .modal-backdrop {
    opacity: 0.5;
    transition: opacity 0.5s ease; }
  .modal-overflow.show .modal-body {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.43s ease, transform 0.4s ease; }
/*  COLORS */
/*  COLORS */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*!
 * bootstrap-grid 2.0.1
 * Copyright 2015-present, Santeri Hiltunen
 * Licensed under MIT (https://github.com/Hilzu/bootstrap-grid/blob/master/LICENSE)
 */
@-ms-viewport {
  width: device-width; }

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 640px) {
  .visible-xs {
    display: block !important; }
  table.visible-xs {
    display: table !important; }
  tr.visible-xs {
    display: table-row !important; }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }

@media (max-width: 640px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 640px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 640px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 641px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }
  table.visible-sm {
    display: table !important; }
  tr.visible-sm {
    display: table-row !important; }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }

@media (min-width: 641px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 641px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 641px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }
  table.visible-md {
    display: table !important; }
  tr.visible-md {
    display: table-row !important; }
  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }
  table.visible-lg {
    display: table !important; }
  tr.visible-lg {
    display: table-row !important; }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }

@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 640px) {
  .hidden-xs {
    display: none !important; } }

@media (min-width: 641px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }

.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }
  table.visible-print {
    display: table !important; }
  tr.visible-print {
    display: table-row !important; }
  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }

.visible-print-block {
  display: none !important; }

@media print {
  .visible-print-block {
    display: block !important; } }

.visible-print-inline {
  display: none !important; }

@media print {
  .visible-print-inline {
    display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }

@media print {
  .visible-print-inline-block {
    display: inline-block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 639px) {
  .container {
    width: 625px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.container > .row, .container-fluid > .row {
  margin-bottom: 2px; }
  .container > .row:last-child, .container-fluid > .row:last-child {
    margin-bottom: 0; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 639px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-pull-11 {
    right: 91.66666667%; }
  .col-sm-pull-10 {
    right: 83.33333333%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-8 {
    right: 66.66666667%; }
  .col-sm-pull-7 {
    right: 58.33333333%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-5 {
    right: 41.66666667%; }
  .col-sm-pull-4 {
    right: 33.33333333%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-2 {
    right: 16.66666667%; }
  .col-sm-pull-1 {
    right: 8.33333333%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-push-11 {
    left: 91.66666667%; }
  .col-sm-push-10 {
    left: 83.33333333%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-8 {
    left: 66.66666667%; }
  .col-sm-push-7 {
    left: 58.33333333%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-5 {
    left: 41.66666667%; }
  .col-sm-push-4 {
    left: 33.33333333%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-2 {
    left: 16.66666667%; }
  .col-sm-push-1 {
    left: 8.33333333%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-offset-12 {
    margin-left: 100%; }
  .col-sm-offset-11 {
    margin-left: 91.66666667%; }
  .col-sm-offset-10 {
    margin-left: 83.33333333%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-8 {
    margin-left: 66.66666667%; }
  .col-sm-offset-7 {
    margin-left: 58.33333333%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-5 {
    margin-left: 41.66666667%; }
  .col-sm-offset-4 {
    margin-left: 33.33333333%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-2 {
    margin-left: 16.66666667%; }
  .col-sm-offset-1 {
    margin-left: 8.33333333%; }
  .col-sm-offset-0 {
    margin-left: 0%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-pull-11 {
    right: 91.66666667%; }
  .col-md-pull-10 {
    right: 83.33333333%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-8 {
    right: 66.66666667%; }
  .col-md-pull-7 {
    right: 58.33333333%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-5 {
    right: 41.66666667%; }
  .col-md-pull-4 {
    right: 33.33333333%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-2 {
    right: 16.66666667%; }
  .col-md-pull-1 {
    right: 8.33333333%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-push-11 {
    left: 91.66666667%; }
  .col-md-push-10 {
    left: 83.33333333%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-8 {
    left: 66.66666667%; }
  .col-md-push-7 {
    left: 58.33333333%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-5 {
    left: 41.66666667%; }
  .col-md-push-4 {
    left: 33.33333333%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-2 {
    left: 16.66666667%; }
  .col-md-push-1 {
    left: 8.33333333%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-offset-12 {
    margin-left: 100%; }
  .col-md-offset-11 {
    margin-left: 91.66666667%; }
  .col-md-offset-10 {
    margin-left: 83.33333333%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-8 {
    margin-left: 66.66666667%; }
  .col-md-offset-7 {
    margin-left: 58.33333333%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-5 {
    margin-left: 41.66666667%; }
  .col-md-offset-4 {
    margin-left: 33.33333333%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-2 {
    margin-left: 16.66666667%; }
  .col-md-offset-1 {
    margin-left: 8.33333333%; }
  .col-md-offset-0 {
    margin-left: 0%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-pull-11 {
    right: 91.66666667%; }
  .col-lg-pull-10 {
    right: 83.33333333%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-8 {
    right: 66.66666667%; }
  .col-lg-pull-7 {
    right: 58.33333333%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-5 {
    right: 41.66666667%; }
  .col-lg-pull-4 {
    right: 33.33333333%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-2 {
    right: 16.66666667%; }
  .col-lg-pull-1 {
    right: 8.33333333%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-push-11 {
    left: 91.66666667%; }
  .col-lg-push-10 {
    left: 83.33333333%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-8 {
    left: 66.66666667%; }
  .col-lg-push-7 {
    left: 58.33333333%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-5 {
    left: 41.66666667%; }
  .col-lg-push-4 {
    left: 33.33333333%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-2 {
    left: 16.66666667%; }
  .col-lg-push-1 {
    left: 8.33333333%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-offset-12 {
    margin-left: 100%; }
  .col-lg-offset-11 {
    margin-left: 91.66666667%; }
  .col-lg-offset-10 {
    margin-left: 83.33333333%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-8 {
    margin-left: 66.66666667%; }
  .col-lg-offset-7 {
    margin-left: 58.33333333%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-5 {
    margin-left: 41.66666667%; }
  .col-lg-offset-4 {
    margin-left: 33.33333333%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-2 {
    margin-left: 16.66666667%; }
  .col-lg-offset-1 {
    margin-left: 8.33333333%; }
  .col-lg-offset-0 {
    margin-left: 0%; } }

/* BEGIN Light */
@font-face {
  font-family: 'Open Sans';
  src: url(fonts/OpenSans-Light.804037.eot);
  src: url(fonts/OpenSans-Light.804037.eot?#iefix&v=1.1.0) format("embedded-opentype"), url(fonts/OpenSans-Light.39d27e.woff2) format("woff2"), url(fonts/OpenSans-Light.963eb3.woff) format("woff"), url(fonts/OpenSans-Light.ecb457.ttf) format("truetype"), url(fonts/OpenSans-Light.b22164.svg#Light) format("svg");
  font-weight: 300;
  font-style: normal; }

/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: 'Open Sans';
  src: url(fonts/OpenSans-LightItalic.6725fc.eot);
  src: url(fonts/OpenSans-LightItalic.6725fc.eot?#iefix&v=1.1.0) format("embedded-opentype"), url(fonts/OpenSans-LightItalic.e7cc71.woff2) format("woff2"), url(fonts/OpenSans-LightItalic.97534d.woff) format("woff"), url(fonts/OpenSans-LightItalic.26f1e6.ttf) format("truetype"), url(fonts/OpenSans-LightItalic.336bcb.svg#LightItalic) format("svg");
  font-weight: 300;
  font-style: italic; }

/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: 'Open Sans';
  src: url(fonts/OpenSans-Regular.a35546.eot);
  src: url(fonts/OpenSans-Regular.a35546.eot?#iefix&v=1.1.0) format("embedded-opentype"), url(fonts/OpenSans-Regular.558354.woff2) format("woff2"), url(fonts/OpenSans-Regular.ac327c.woff) format("woff"), url(fonts/OpenSans-Regular.cd7296.ttf) format("truetype"), url(fonts/OpenSans-Regular.bf4dde.svg#Regular) format("svg");
  font-weight: normal;
  font-style: normal; }

/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: 'Open Sans';
  src: url(fonts/OpenSans-Italic.e487b7.eot);
  src: url(fonts/OpenSans-Italic.e487b7.eot?#iefix&v=1.1.0) format("embedded-opentype"), url(fonts/OpenSans-Italic.383eba.woff2) format("woff2"), url(fonts/OpenSans-Italic.525074.woff) format("woff"), url(fonts/OpenSans-Italic.9b30f1.ttf) format("truetype"), url(fonts/OpenSans-Italic.2a9a30.svg#Italic) format("svg");
  font-weight: normal;
  font-style: italic; }

/* END Italic */
/* BEGIN Semibold */
@font-face {
  font-family: 'Open Sans';
  src: url(fonts/OpenSans-Semibold.0ea045.eot);
  src: url(fonts/OpenSans-Semibold.0ea045.eot?#iefix&v=1.1.0) format("embedded-opentype"), url(fonts/OpenSans-Semibold.08952b.woff2) format("woff2"), url(fonts/OpenSans-Semibold.9f2144.woff) format("woff"), url(fonts/OpenSans-Semibold.33f225.ttf) format("truetype"), url(fonts/OpenSans-Semibold.24aab5.svg#Semibold) format("svg");
  font-weight: 600;
  font-style: normal; }

/* END Semibold */
/* BEGIN Semibold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url(fonts/OpenSans-SemiboldItalic.da0614.eot);
  src: url(fonts/OpenSans-SemiboldItalic.da0614.eot?#iefix&v=1.1.0) format("embedded-opentype"), url(fonts/OpenSans-SemiboldItalic.3343e5.woff2) format("woff2"), url(fonts/OpenSans-SemiboldItalic.ec55f2.woff) format("woff"), url(fonts/OpenSans-SemiboldItalic.1c0b4e.ttf) format("truetype"), url(fonts/OpenSans-SemiboldItalic.b46ff9.svg#SemiboldItalic) format("svg");
  font-weight: 600;
  font-style: italic; }

/* END Semibold Italic */
/* BEGIN Bold */
@font-face {
  font-family: 'Open Sans';
  src: url(fonts/OpenSans-Bold.7ae9b8.eot);
  src: url(fonts/OpenSans-Bold.7ae9b8.eot?#iefix&v=1.1.0) format("embedded-opentype"), url(fonts/OpenSans-Bold.3326e4.woff2) format("woff2"), url(fonts/OpenSans-Bold.892667.woff) format("woff"), url(fonts/OpenSans-Bold.5a1009.ttf) format("truetype"), url(fonts/OpenSans-Bold.fedf49.svg#Bold) format("svg");
  font-weight: bold;
  font-style: normal; }

/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url(fonts/OpenSans-BoldItalic.ea0793.eot);
  src: url(fonts/OpenSans-BoldItalic.ea0793.eot?#iefix&v=1.1.0) format("embedded-opentype"), url(fonts/OpenSans-BoldItalic.5aacee.woff2) format("woff2"), url(fonts/OpenSans-BoldItalic.7be88e.woff) format("woff"), url(fonts/OpenSans-BoldItalic.c36b5a.ttf) format("truetype"), url(fonts/OpenSans-BoldItalic.a33a87.svg#BoldItalic) format("svg");
  font-weight: bold;
  font-style: italic; }

/* END Bold Italic */
/* BEGIN Extrabold */
@font-face {
  font-family: 'Open Sans';
  src: url(fonts/OpenSans-ExtraBold.561e4b.eot);
  src: url(fonts/OpenSans-ExtraBold.561e4b.eot?#iefix&v=1.1.0) format("embedded-opentype"), url(fonts/OpenSans-ExtraBold.521106.woff2) format("woff2"), url(fonts/OpenSans-ExtraBold.12e2ed.woff) format("woff"), url(fonts/OpenSans-ExtraBold.19b56c.ttf) format("truetype"), url(fonts/OpenSans-ExtraBold.f108c9.svg#ExtraBold) format("svg");
  font-weight: 800;
  font-style: normal; }

/* END Extrabold */
/* BEGIN Extrabold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url(fonts/OpenSans-ExtraBoldItalic.5f467e.eot);
  src: url(fonts/OpenSans-ExtraBoldItalic.5f467e.eot?#iefix&v=1.1.0) format("embedded-opentype"), url(fonts/OpenSans-ExtraBoldItalic.bc511b.woff2) format("woff2"), url(fonts/OpenSans-ExtraBoldItalic.4f4407.woff) format("woff"), url(fonts/OpenSans-ExtraBoldItalic.4595d7.ttf) format("truetype"), url(fonts/OpenSans-ExtraBoldItalic.a84e85.svg#ExtraBoldItalic) format("svg");
  font-weight: 800;
  font-style: italic; }

.m-t-0 {
  margin-top: 0 !important; }

.m-l-0 {
  margin-left: 0 !important; }

.m-b-0 {
  margin-bottom: 0 !important; }

.m-r-0 {
  margin-right: 0 !important; }

.m-t-20 {
  margin-top: 20px; }

.p-t-0 {
  padding-top: 0 !important; }

.p-l-0 {
  padding-left: 0 !important; }

.p-b-0 {
  padding-bottom: 0 !important; }

.p-r-0 {
  padding-right: 0 !important; }

.width-100 {
  width: 100%; }

.height-100 {
  height: 100%; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-bold {
  font-weight: bold; }

.hide {
  display: none !important; }

.yellow-text {
  color: #fff17d;
  text-shadow: 0 2px 0px #2b2b2b; }

html, body {
  width: 100%;
  height: 100%;
  min-width: 320px;
  overflow: hidden; }

body {
  background-position: center;
  background-size: cover;
  color: white;
  background-image: url(images/auth_day_bg.602db1.jpg);
  transition: backgraund-image 0.5s ease;
  font-family: "Open Sans"; }
  body.auth {
    background-image: url(images/bg.e15efc.jpg); }

* {
  box-sizing: border-box; }

.table-middle-block {
  display: table;
  width: 100%;
  height: 100%; }

.table-middle-cell {
  display: table-cell;
  vertical-align: middle; }

#page-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  top: 46px; }

h2 {
  font-size: 16px; }

.btn {
  height: 43px;
  line-height: 38px;
  text-align: center;
  background-color: rgba(61, 101, 86, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: #fff;
  border-radius: 21px;
  font-size: 15px;
  transition: background-color 0.3s ease;
  font-family: "Open Sans"; }
  .btn.touchHover {
    background-color: rgba(36, 57, 49, 0.9);
    border-color: rgba(36, 57, 49, 0.9); }
  .btn:focus {
    outline: none; }
  .btn .size-small {
    height: 30px;
    font-size: 13px;
    line-height: 27px; }
  .btn.color-orange {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: #ffab56; }
    .btn.color-orange.touchHover {
      background-color: #ffab56; }
  .btn.single {
    margin-top: 15px;
    margin-bottom: 10px; }
  .btn .btn-arrow {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 20px;
    background: url(images/arrow.f50629.png) no-repeat left center;
    background-size: 6px 10px; }
  .btn .counter {
    position: absolute;
    display: inline-block;
    height: 20px;
    width: auto;
    padding: 0 8px;
    border-radius: 9px;
    background: #cd5f57;
    color: #fff;
    text-align: center;
    border: 2px solid #fff;
    top: 50%;
    margin-top: -10px;
    right: 10px;
    font-size: 12px;
    line-height: 16px; }
  .btn.disabled {
    background-color: rgba(116, 119, 118, 0.9);
    color: #2b2b2b; }

.btn-set {
  line-height: 43px;
  overflow: hidden; }
  .btn-set > .btn {
    border-right-width: 1px;
    border-radius: 0; }
    .btn-set > .btn:first-child {
      border-top-left-radius: 21px;
      border-bottom-left-radius: 21px; }
    .btn-set > .btn:last-child {
      border-top-right-radius: 21px;
      border-bottom-right-radius: 21px; }

label.input {
  padding: 0; }
  label.input span {
    display: block;
    text-align: center;
    margin-bottom: 2px; }
  label.input input {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 21px;
    display: block;
    height: 38px;
    width: 100%;
    color: #2b2b2b;
    text-indent: 15px;
    font-size: 15px;
    font-family: "Open Sans";
    transition: background-color 0.3s ease; }
    label.input input:focus {
      outline: none;
      border: 1px solid #2b2b2b; }
    label.input input.invalid {
      border-color: rgba(255, 0, 11, 0.8);
      box-shadow: 0 0 3px rgba(255, 0, 11, 0.8);
      color: rgba(255, 0, 11, 0.8); }

.user-icon {
  position: relative;
  width: 46px;
  height: 46px; }
  .user-icon .avatar_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%; }
  .user-icon .avatar {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .user-icon[data-user-icon-status="1"] .avatar_bg {
    background-color: #52be5d; }
  .user-icon[data-user-icon-status="2"] .avatar_bg {
    background-color: #ea5f56; }
  .user-icon[data-user-icon-status="3"] .avatar_bg {
    background-color: #eecf7e; }
  .user-icon[data-user-icon-id="0"] .avatar {
    background-image: url(images/0.9a09f1.png); }
  .user-icon[data-user-icon-id="1"] .avatar {
    background-image: url(images/1.9a09f1.png); }

.status-icon {
  background-size: 100% 100%; }
  .status-icon[data-user-icon-id="0"] {
    background-image: url(images/smailey_0.462eac.png); }
  .status-icon[data-user-icon-id="1"] {
    background-image: url(images/smailey_1.affb87.png); }
  .status-icon[data-user-icon-id="2"] {
    background-image: url(images/smailey_2.feb792.png); }
  .status-icon[data-user-icon-id="3"] {
    background-image: url(images/smailey_3.9af0d7.png); }
  .status-icon[data-user-icon-id="4"] {
    background-image: url(images/smailey_4.f0e313.png); }
  .status-icon[data-user-icon-id="5"] {
    background-image: url(images/smailey_5.a5dd53.png); }
  .status-icon[data-user-icon-id="6"] {
    background-image: url(images/smailey_6.a07cf1.png); }
  .status-icon[data-user-icon-id="7"] {
    background-image: url(images/smailey_7.01e88e.png); }
  .status-icon[data-user-icon-id="8"] {
    background-image: url(images/smailey_8.2d504c.png); }
  .status-icon[data-user-icon-id="9"] {
    background-image: url(images/smailey_9.05ad9d.png); }
  .status-icon[data-user-icon-id="10"] {
    background-image: url(images/smailey_10.b16e48.png); }
  .status-icon[data-user-icon-id="11"] {
    background-image: url(images/smailey_11.97f597.png); }
  .status-icon[data-user-icon-id="12"] {
    background-image: url(images/smailey_12.6fd7df.png); }
  .status-icon[data-user-icon-id="13"] {
    background-image: url(images/smailey_13.709c35.png); }
  .status-icon[data-user-icon-id="14"] {
    background-image: url(images/smailey_14.fe738a.png); }
  .status-icon[data-user-icon-id="15"] {
    background-image: url(images/smailey_15.de9eeb.png); }
  .status-icon[data-user-icon-id="16"] {
    background-image: url(images/smailey_16.9d326f.png); }
  .status-icon[data-user-icon-id="17"] {
    background-image: url(images/smailey_17.a12df9.png); }

.list-container {
  color: #fff;
  font-size: 15px; }
  .list-container li {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 0 7px;
    background-color: rgba(61, 101, 86, 0.9);
    border-left: 1px solid #2b2b2b;
    border-right: 1px solid #2b2b2b; }
    .list-container li:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 10px;
      right: 10px;
      height: 1px;
      background-color: #2b2b2b; }
    .list-container li:first-child {
      border-top-left-radius: 21px;
      border-top-right-radius: 21px;
      border-top: 1px solid #2b2b2b; }
    .list-container li:last-child {
      border-bottom-left-radius: 21px;
      border-bottom-right-radius: 21px;
      border-bottom: 1px solid #2b2b2b; }
      .list-container li:last-child:after {
        display: none; }
    .list-container li.touchHover {
      background-color: rgba(36, 57, 49, 0.9); }
      .list-container li.touchHover:after {
        display: none; }
/*  COLORS */
#header-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  #header-container .status-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 46px;
    background: #465153; }
  #header-container .open-menu-overflow {
    position: relative;
    width: 50px;
    height: 100%;
    cursor: pointer;
    float: left; }
  #header-container .menu-icon {
    position: absolute;
    width: 30px;
    height: 2px;
    background: white;
    top: 50%;
    left: 10px; }
    #header-container .menu-icon:before {
      top: -7px; }
    #header-container .menu-icon:after {
      bottom: -7px; }
    #header-container .menu-icon:after, #header-container .menu-icon:before {
      content: "";
      position: absolute;
      display: block;
      height: 2px;
      background: white;
      width: 100%; }
  #header-container .menu-container {
    position: absolute;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    background: #465153;
    z-index: 2;
    transform: translate(0, 0);
    transition: transform 0.5s ease; }
  #header-container .back-menu {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 100%;
    background: black;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease; }
  #header-container.menu-open .menu-container {
    left: 0; }
  #header-container.menu-open .back-menu {
    left: 0;
    opacity: 0.5; }

.csstransforms #header-container.menu-open .menu-container {
  transform: translate(200px, 0);
  left: -200px; }
/*  COLORS */
.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.5s ease; }
  .page.bg-blur {
    background: url(images/bg-blur.368130.jpg) center;
    background-size: cover; }
  .page .scroll-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto; }
  .page.show {
    opacity: 1;
    transition: opacity 0.3s ease; }
  .page .loading-block {
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    top: -46px;
    left: 200%;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.2s ease; }
    .page .loading-block .loading-icon {
      position: absolute;
      background: url(images/loading.cf5105.png);
      width: 112px;
      height: 112px;
      background-size: 100% 100%;
      transform-origin: 50% 50%;
      animation: rotate 5s linear infinite;
      animation-play-state: paused;
      top: 50%;
      left: 50%;
      margin-top: -56px;
      margin-left: -56px; }
    .page .loading-block .text-block {
      position: absolute;
      top: 50%;
      margin-top: 70px;
      text-align: center;
      width: 100%; }
  .page.load .loading-block {
    left: 0;
    opacity: 1;
    transition: opacity 1s ease 1s; }
  .page.load .loading-icon {
    animation-play-state: running; }

@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
/*  COLORS */
/*  COLORS */
.index-page .user-info {
  margin-top: 15px;
  margin-bottom: 6px; }
  .index-page .user-info p {
    font-size: 14px; }
  .index-page .user-info h2 {
    font-weight: bold;
    font-size: 17px; }

.index-page h3 {
  font-size: 16px; }

.index-page .user-icon {
  float: left;
  margin-left: 5px; }

.index-page .block-name {
  position: absolute;
  height: 100%;
  right: 0;
  left: 75px; }

.index-page .tips-header {
  margin-top: 10px;
  margin-bottom: 4px; }

.index-page .tips-block {
  height: 102px;
  padding: 0 5px; }
  .index-page .tips-block .tips-overflow {
    width: 100%;
    overflow: hidden; }
  .index-page .tips-block .tips-item {
    position: relative;
    width: 20%;
    float: left;
    height: 43px;
    margin-top: 10px; }
  .index-page .tips-block .tips-icon {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border: 1px solid #95ff81;
    border-radius: 20px;
    background-image: url(images/team-help.35fefd.png);
    background-position: center;
    background-repeat: no-repeat; }
    .index-page .tips-block .tips-icon.disabled {
      border-color: #ececec; }
    .index-page .tips-block .tips-icon .counter {
      border: 1px solid #fff;
      color: #fff;
      position: absolute;
      background: #ffab56;
      top: -6px;
      right: 5px;
      margin-top: 0;
      display: inline-block;
      height: 15px;
      width: auto;
      padding: 0 4px;
      font-size: 10px;
      line-height: 13px; }
  .index-page .tips-block .color-orange {
    margin: 12px auto 0 auto;
    width: 160px; }
/*  COLORS */
.games-page .game-container {
  margin-top: 15px;
  margin-bottom: 15px; }

.games-page h3 {
  margin-top: 10px;
  margin-bottom: 6px;
  position: relative; }

.games-page .game-item {
  color: #fff; }
  .games-page .game-item .user-icon {
    float: left;
    width: 40px;
    height: 40px;
    margin: 10px 0; }
  .games-page .game-item .text-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 55px;
    right: 60px; }
    .games-page .game-item .text-container h2 {
      margin-top: 2px;
      margin-bottom: 6px;
      font-size: 15px; }
    .games-page .game-item .text-container p {
      font-size: 12px; }
  .games-page .game-item .time-container {
    float: right;
    width: 40px;
    height: 40px;
    margin: 10px 0;
    font-size: 10px; }

.games-page .right-text {
  position: absolute;
  display: block;
  top: -6px;
  right: 0;
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 20px; }

.games-page .icon {
  display: block;
  width: 40px;
  height: 40px; }
/*  COLORS */
/*  COLORS */
/*  COLORS */
/*  COLORS */
/*  COLORS */
.search-user-page .result-container {
  width: 320px;
  margin: 20px auto;
  border: 1px solid white; }

.search-user-page .add-friend {
  display: inline;
  margin-left: 20px;
  padding: 5px; }
/*  COLORS */
/*  COLORS */
.game-page .main-block {
  position: relative; }

.game-page .half-block {
  position: relative;
  width: 50%;
  float: left; }
  .game-page .half-block h2 {
    text-align: center;
    font-size: 16px;
    padding: 5px 10px 0 10px; }

.game-page .user-icon {
  display: block;
  width: 75px;
  height: 75px;
  margin: 0 auto; }

.game-page .score-block {
  position: absolute;
  top: 27px;
  left: 50%;
  margin-left: -40px;
  width: 80px;
  text-align: center;
  font-size: 21px; }

.game-page .list-container {
  padding: 15px;
  height: 350px; }
/*  COLORS */
.round-widget {
  height: 52px; }
  .round-widget .round {
    padding-bottom: 1px;
    padding-top: 1px;
    border-top: 1px solid black;
    margin-left: 2px;
    margin-right: 2px; }
  .round-widget .round-col-l {
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px; }
  .round-widget .round-col-r {
    margin-left: 0px;
    padding-right: 0px;
    margin-right: 0px; }
  .round-widget .line-height {
    vertical-align: middle;
    margin-left: 3px; }
  .round-widget .round-center {
    text-align: center;
    vertical-align: middle; }
  .round-widget .icon-container {
    text-align: center;
    float: left;
    width: 80px;
    margin: 5px 0;
    margin-left: 10px; }
  .round-widget .text-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 60px;
    right: 60px; }
  .round-widget .text-container p {
    font-size: 13px; }
  .round-widget .time-container {
    text-align: center;
    vertical-align: middle;
    float: right;
    width: 80px;
    margin: 5px 0;
    margin-right: 10px; }
  .round-widget .ui {
    list-style: none; }
  .round-widget .game-round-name-container {
    padding-top: 5px;
    font-size: 10px;
    text-align: center;
    margin: 0 auto; }
  .round-widget .game-round-center {
    padding-top: 23px;
    bottom: 0;
    text-align: center;
    margin: 0 auto;
    font-size: 13px; }
  .round-widget .icon-score {
    display: inline-block;
    width: 23px; }
/*  COLORS */
.profile-page .profile-center {
  text-align: center; }

.profile-page .b {
  font-weight: bold; }

.profile-page .icon {
  background-position: center;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  margin: auto; }

.profile-page .win-icon {
  background-image: url(images/all_win_icon.8a2180.png);
  background-size: 100% 100%; }

.profile-page .all_game-icon {
  background-image: url(images/all_game.de1c6b.png);
  background-size: 100% 100%; }

.profile-page .score-icon {
  background-image: url(images/score_icon.e6f87a.png);
  background-size: 100% 100%; }

.profile-page .position-icon {
  background-image: url(images/position_icon.4aac46.png);
  background-size: 100% 100%; }

.profile-page .sub-text {
  font-size: 10px;
  color: #909090; }

.profile-page .score-text {
  font-size: 18px; }

.profile-page .avatar-icon {
  background-image: url(images/position_icon.4aac46.png);
  background-size: 100% 100%; }

.profile-page .right-col {
  padding-left: 0px; }
/*  COLORS */
.game-result-page .main-block {
  position: relative; }

.game-result-page .half-block {
  position: relative;
  width: 50%;
  float: left; }
  .game-result-page .half-block h2 {
    text-align: center;
    font-size: 16px;
    padding: 5px 10px 0 10px; }

.game-result-page .user-icon {
  display: block;
  width: 75px;
  height: 75px;
  margin: 0 auto; }

.game-result-page .score-block {
  position: absolute;
  top: 27px;
  left: 50%;
  margin-left: -40px;
  width: 80px;
  text-align: center;
  font-size: 21px; }
/*  COLORS */
/*  COLORS */
.question-widget .img_question {
  position: relative;
  width: 100%;
  height: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.question-widget .btn {
  height: auto;
  line-height: 20px; }
/*  COLORS */
.friends-page h1 {
  margin: 10px 0 15px 0; }

.friends-page .friend-item {
  height: 40px; }

.friends-page .remove-item {
  cursor: pointer; }
/*  COLORS */
.black-list-page h1 {
  margin: 10px 0 15px 0; }

.black-list-page .black-list-item {
  height: 40px; }

.black-list-page .remove-item {
  cursor: pointer; }
/*  COLORS */
/*  COLORS */
/*  COLORS */
/*  COLORS */
/*  COLORS */
.auth-page {
  top: -46px; }
  .auth-page .table-middle-block {
    height: 50%;
    bottom: 0;
    position: absolute; }
  .auth-page .icon {
    background-position: center;
    background-repeat: no-repeat; }
  .auth-page .vk-icon {
    background-image: url(images/vk.fcd300.png);
    background-size: 23px 13px; }
  .auth-page .fb-icon {
    background-image: url(images/fb.12d324.png);
    background-size: 10px 23px; }
/*  COLORS */
.registration-page .table-middle-block {
  height: 50%;
  bottom: 0;
  position: absolute; }
/*  COLORS */
/*  COLORS */
.signin-page {
  top: -46px; }
  .signin-page .table-middle-block {
    height: 50%;
    bottom: 0;
    position: absolute; }
/*  COLORS */
.restore-password-page .table-middle-block {
  height: 50%;
  bottom: 0;
  position: absolute; }
/*  COLORS */
.profileDetail-page .profileDetail-center {
  text-align: center; }

.profileDetail-page .b {
  font-weight: bold; }

.profileDetail-page .icon {
  background-position: center;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  margin: auto; }

.profileDetail-page .win-icon {
  background-image: url(images/all_win_icon.8a2180.png);
  background-size: 100% 100%; }

.profileDetail-page .all_game-icon {
  background-image: url(images/all_game.de1c6b.png);
  background-size: 100% 100%; }

.profileDetail-page .score-icon {
  background-image: url(images/score_icon.e6f87a.png);
  background-size: 100% 100%; }

.profileDetail-page .position-icon {
  background-image: url(images/position_icon.4aac46.png);
  background-size: 100% 100%; }

.profileDetail-page .sub-text {
  font-size: 10px;
  color: #909090; }

.profileDetail-page .score-text {
  font-size: 18px; }

.profileDetail-page .avatar-icon {
  background-image: url(images/position_icon.4aac46.png);
  background-size: 100% 100%; }

.profileDetail-page .padding0 {
  padding-left: 0px;
  padding-right: 0px; }

.profileDetail-page .padding5 {
  padding-left: 7px;
  padding-right: 7px; }

.profileDetail-page .topic {
  border-top: 1px solid black; }

.profileDetail-page .progress-bar {
  background-color: #1a1a1a;
  height: 15px;
  border-radius: 15px;
  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444; }

.profileDetail-page .progress-bar span {
  display: inline-block;
  height: 15px;
  border-radius: 15px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  transition: width .4s ease-in-out; }

.profileDetail-page .blue span {
  background-color: #34c2e3; }

.profileDetail-page .green span {
  background-color: #359035;
  background-image: linear-gradient(top, #a5df41, #4ca916); }

.profileDetail-page .shine span {
  position: relative; }
